@font-face {
    font-family: 'Aeonik Air';
    src: url('Aeonik-Air.woff2') format('woff2'),
        url('Aeonik-Air.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Black.woff2') format('woff2'),
        url('Aeonik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-BoldItalic.woff2') format('woff2'),
        url('Aeonik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Air';
    src: url('Aeonik-AirItalic.woff2') format('woff2'),
        url('Aeonik-AirItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Bold.woff2') format('woff2'),
        url('Aeonik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-BlackItalic.woff2') format('woff2'),
        url('Aeonik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Thin.woff2') format('woff2'),
        url('Aeonik-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-RegularItalic.woff2') format('woff2'),
        url('Aeonik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-MediumItalic.woff2') format('woff2'),
        url('Aeonik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-LightItalic.woff2') format('woff2'),
        url('Aeonik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-ThinItalic.woff2') format('woff2'),
        url('Aeonik-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Light.woff2') format('woff2'),
        url('Aeonik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Medium.woff2') format('woff2'),
        url('Aeonik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Regular.woff2') format('woff2'),
        url('Aeonik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    font-family: "Inter";
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration-line: none;
}

nav {
    display: flex;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(241, 241, 241, 0.7);
    backdrop-filter: blur(20px);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-spacer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding: 12px 5%;
}

.menu-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 5%;
}

.line-break {
    margin-left: 5%;
    margin-right: 5%;
    height: 35px;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.05);
}

.menu-middle {
    display: flex;
    flex-direction: row;
}

.menu-link {
    padding: 6px 16px;
    border-radius: 3px;
    margin-right: 3px;
}

.menu-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.menu-link:hover h2 {
    opacity: 0.5;
}

.selected {
    background-color: rgba(0, 0, 0, 0.05);
}

.menu-text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #000;
    padding: 0;
    margin: 0;
}

.menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-link {
    padding: 6px 16px;
    border-radius: 3px;
    margin: 0;
    background-color: #000;
    cursor: pointer;
}

.contact-text {
    font-family: "Inter";
    font-weight: 400;
    line-height: 140%;
    font-size: 16px;
    color: white;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
}

.hero-landing {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 36px;
}

h1 {
    font-family: "Aeonik";
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 56px;
    width: 70%;
    text-align: center;
    background: linear-gradient(160deg, #570A0A 48.57%, #F1F1F1 99.11%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-cta {
    background-color: #570A0A;
    padding: 6px 16px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 140%;
    letter-spacing: -1px;
    font-family: "Inter";
    justify-content: center;
    align-items: center;
    gap: 12px;
    display: flex;
    color: #F1F1F1;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scaleX(6px);
    outline-width: 4px;
    outline-color: rgba(87, 10, 10, 0);
    outline-style: solid;
}

.hero-cta svg {
    transition: all 0.3s ease;
    transform: translateX(0px);
}

.hero-cta:hover svg {
    transform: translateX(6px);
}

.hero-cta:hover {
    transform: scaleX(6px);
    outline-width: 4px;
    outline-color: rgba(87, 10, 10, 0.3);
    outline-style: solid;
}

.section-two {
    height: 100vh;
    width: 100%;
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-two-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.yesterday-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 20rem;
}

.yesterday-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.today-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    width: 40%;
    height: 25rem;
    background-color: rgba(107, 5, 4, 0.05);
    border-radius: 6px;
    border: 1px solid rgba(107, 5, 4, 1);
}

.today-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.h3-wrap {
    border-radius: 6px;
    padding: 6px 16px;
    border: 1px solid rgba(87, 10, 10, 0.2);
    background-color: rgba(107, 5, 4, 0.1);
    margin-bottom: 24px;
}

h3 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: rgba(107, 5, 4, 1);
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -1px;
    color: #570A0A;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    color: rgba(107, 5, 4, 1);
    line-height: 140%;
    letter-spacing: -1px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.p-container {
    margin-top: 24px;
    gap: 6px;
    display: flex;
    flex-direction: column;
}